<div id="form-wrapper">
  <%= form_for @task, {:html => {:class => 'form-inline'}} do |f| %>
    <%= f.text_field :description, :placeholder => 'Description' %>

    <%= f.text_field :duration, :placeholder => 'Duration' %>

    <%= f.submit :class => 'btn btn-primary', :id => 'create-task' %>
  <% end %>
</div>

<ul id="tasks">
  <% @tasks.each_with_index do |task, i| %>
    <li class="task <%= 'even' if i % 2 == 0 %>">
      <span class="description">
        <%= task.description %>
      </span>
      <span class="duration">
        <%= task.duration %> seconds
      </span>
      <span class="actions">
        <%= link_to 'Delete', task, :method => :delete, :class => 'delete-link' %>
      </span>
    </li>
  <% end %>
</ul>

<script type="text/html" id="task-template">
    <span class="description">
      {{= description }}
    </span>
    <span class="duration">
      {{= duration }} seconds
    </span>
    <div class="btn-group actions">
      <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Actions<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#" class="delete-link">Delete</a></li>
        <li><a href="#" class="log-link">Log Time</a></li>
      </ul>
    </div>
</script>

<script type="text/javascript">
  Tasks = new TaskList();
  Tasks.reset(<%= raw @tasks.to_json(:methods => :duration_in_words) %>);
  AppView = new TasksView({el: $('body'), collection: Tasks});
  AppView.render();
</script>
