<div id="form-wrapper">
  <%= form_for @task, {:html => {:class => 'form-inline'}} do |f| %>
    <%= f.text_field :description, :placeholder => 'Description' %>

    <%= f.submit :class => 'btn btn-primary', :id => 'create-task' %>
  <% end %>
</div>

<ul id="tasks">
  <% @tasks.each_with_index do |task, i| %>
    <li class="task <%= 'even' if i % 2 == 0 %>">
      <span class="description">
        <%= task.description %>
      </span>
      <span class="actions">
        <%= link_to 'Delete', task, :method => :delete, :class => 'delete-link' %>
      </span>
    </li>
  <% end %>
</ul>

<script type="text/html" id="task-template">
    <div class="description">
      {{= description }}
    </div>
    <div class="duration-today">
      {{= duration_today }}
    </div>
    <div class="duration">
      {{= duration }}
    </div>
    {{ if(archived){ }}
      <div class="actions">
        <a href="#" class="btn btn-info btn-small unarchive-link"><i class="icon-share"></i>&nbsp;Unarchive</a>
      </div>
    {{ } else { }}
      <div class="actions btn-group">
        <a href="#" class="btn btn-small log-link {{= logButtonClass }}">
          <i class="icon-time"></i>&nbsp;<span class="log-button-text">{{= logButtonText }}</span>
        </a>
        <a href="#" class="btn btn-small log-link-drop {{= logButtonClass }} dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" class="archive-link"><i class="icon-inbox"></i>&nbsp;Archive</a></li>
          <li><a href="#" class="delete-link"><i class="icon-remove"></i>&nbsp;Delete</a></li>
        </ul>
      </div>
    {{ } }}
    <div>
      <a href="#" class="toggle-time-entries">Time Entries</a>
      <ul class="time-entries"></ul>
    </div>
</script>

<script type="text/html" id="time-entry-template">
    <li class="time-entry">
      Start: {{= startDate }}
      {{ if(endDate){ }}
        End: {{= endDate }}
        <a href="#" class="edit-entry">Edit</a>
        <a href="#" class="delete-entry">Delete</a>
      {{ } }}
    </li>
</script>

<script type="text/html" id="time-entry-edit-template">
    <li class="time-entry">
      Start: 
        <input type="text" value="{{= startDate.month }}" size="2" maxlength="2" style="width: auto" class="edit-start-month" />
        <input type="text" value="{{= startDate.day }}"  size="2" maxlength="2" style="width: auto" class="edit-start-day" />
        <input type="text" value="{{= startDate.year }}" size="4" maxlength="4" style="width: auto"  class="edit-start-year" />
        <input type="text" value="{{= startDate.hour }}" size="2" maxlength="2" style="width: auto"  class="edit-start-hour" />
        <input type="text" value="{{= startDate.minute }}" size="2" maxlength="2" style="width: auto"  class="edit-start-minute" />
        <input type="text" value="{{= startDate.second }}" size="2" maxlength="2" style="width: auto"  class="edit-start-second" />
      End:
        <input type="text" value="{{= endDate.month }}" size="2" maxlength="2" style="width: auto"  class="edit-end-month" />
        <input type="text" value="{{= endDate.day }}" size="2" maxlength="2" style="width: auto"  class="edit-end-day" />
        <input type="text" value="{{= endDate.year }}" size="4" maxlength="4" style="width: auto"  class="edit-end-year" />
        <input type="text" value="{{= endDate.hour }}" size="2" maxlength="2" style="width: auto"  class="edit-end-hour" />
        <input type="text" value="{{= endDate.minute }}" size="2" maxlength="2" style="width: auto"  class="edit-end-minute" />
        <input type="text" value="{{= endDate.second }}" size="2" maxlength="2" style="width: auto"  class="edit-end-second" />
      <a href="#" class="save-edit-entry">Save</a>
      <a href="#" class="cancel-edit-entry">Cancel</a>
    </li>
</script>

<script type="text/javascript">
  Tasks = new TaskList(<%= raw @tasks.to_json %>);
  AppView = new TasksView({el: $('body'), collection: Tasks, showArchived: <%= @showArchived %>});
  AppView.render();
</script>
