<% if @user %>
<h3>Tasks for <%= @user.is_guest ? 'Guest' : @user.username %></h3><br/>
<% end %>

<div id="form-wrapper">
  <%= form_for @task, {:html => {:class => 'form-inline'}} do |f| %>
    <%= f.text_field :description, :placeholder => 'Task' %>

    <%= f.submit :class => 'btn btn-primary', :id => 'create-task', :value => 'Create' %>
  <% end %>
</div>

<a id="toggle-archived-visibility" href="#" class="btn btn-small"><i class="icon-inbox"></i>&nbsp;<span><% if @showArchived %>Hide<% else %>Show<% end %> Archived</span></a>

<div id="no-tasks" class="hide">No tasks to display.</div>

<%= render "shared/task_list" %>

<div id="time-entry-modal" class="modal hide">
  <div class="modal-header">
    <h3>Time Entries</h3>
  </div>
  <div class="modal-body">
    <table id="time-entries" class="table table-striped">
      <thead>
        <tr>
          <td>Start</td>
          <td>End</td>
          <td>Duration</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div id="new-time-entry-wrapper">
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<script type="text/html" id="new-time-entry-template">
    <input id="new-time-entry-start" />
    <input id="new-time-entry-end" />
    <a href="#" id="save-new-time-entry" class="btn">Save</a>
</script>

<script type="text/html" id="task-template">
    <div class="description">
      <i class="icon-th sort-handle"></i>
      <span class="editable">
        {{= description }}
      </span>
      <i class="icon-edit"></i>
      {{ if(archived){ }}
        <div class="actions">
          <a href="#" class="btn btn-info btn-small unarchive-link">Unarchive</a>
        </div>
      {{ } else { }}
        <div class="actions btn-group">
          <a href="#" class="btn btn-small log-link {{= logButtonClass }}">
            <span class="log-button-text">{{= logButtonText }}</span>
          </a>
          <a href="#" class="btn btn-small log-link-drop {{= logButtonClass }} dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#" class="archive-link"><i class="icon-inbox"></i>&nbsp;Archive</a></li>
            <li><a href="#" class="delete-link"><i class="icon-remove"></i>&nbsp;Delete</a></li>
          </ul>
        </div>
      {{ } }}
    </div>
    <div class="task-body">
      <div class="duration-today">
        {{= duration_today }}
      </div>
      <div class="duration">
        {{= duration }}
      </div>
      <div>
        <a href="#" class="show-time-entries">Time Entries</a>
        <ul class="time-entries"></ul>
      </div>
    </div>
</script>

<script type="text/html" id="time-entry-template">
    <td>
      {{= startDate }}
    </td>
    <td>
    {{ if(endDate){ }}
      {{= endDate }}
    {{ } }}
    </td>
    <td>
      <span class="duration">{{= duration }}</span>
    </td>
    <td>
    {{ if(endDate){ }}
      <a href="#" class="edit-entry">Edit</a>
      <a href="#" class="delete-entry">Delete</a>
    {{ } }}
    </td>
</script>

<script type="text/html" id="time-entry-edit-template">
    <td>
      <input type="text" value="{{= startDate }}" size="20" class="edit-start" />
    </td>
    <td>
      <input type="text" value="{{= endDate }}" size="20" class="edit-end" />
    </td>
    <td></td>
    <td>
      <a href="#" class="save-edit-entry">Save</a>
      <a href="#" class="cancel-edit-entry">Cancel</a>
    </td>
</script>

<script type="text/javascript">
  Tasks = new TaskList(<%= raw @tasks.to_json %>);
  AppView = new TasksView({el: $('body'), collection: Tasks, showArchived: <%= @showArchived %>});
  AppView.render();
</script>
