<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand"><i class="icon-list-alt"></i>SimpleTask</a>
          <% if current_user and current_user.is_admin %>
            <div class="nav-collapse">
              <ul class="nav">
                <li><%= link_to 'Tasks', tasks_path %></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle">Admin<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to 'Dashboard', admin_dashboard_index_path %>
                    </li>
                    <li>
                      <%= link_to 'Users', admin_users_path %>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          <% end %>
          <div class="user-info">
            <% if current_user %>
              <% if current_user.is_guest %>
                Guest |
                <%= link_to 'Register to keep your tasks', :register %>
              <% else %>
                <%= link_to current_user.username, edit_user_path(current_user.id) %> |
                <%= link_to 'Logout', :logout %>
              <% end %>
            <% else %>
              <%= link_to 'Register', :register %> |
              <%= link_to 'Login', :login %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="page-content">
        <% if notice %>
          <div class="alert alert-success">
            <%= notice %>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-error">
            <%= alert %>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29710629-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
