<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" />

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="nav">
      <div class="links">
        <%= link_to 'Register', :register %> |
        <%= link_to 'Login', :login %>
      </div>
    </div>
    <div class="landing-container">
      <div class="main-info">
        <p class="brand">
          <a href="/"><i class="icon-list-alt"></i>SimpleTask</a>
        </p>
        <em>Keep track of time spent on tasks. Simple.</em>
        <div class="screenshot">
          <%= image_tag "screenshot.png" %>
        </div>
      </div>
      <div id="additional-info">
        <h3>Features</h3>
        <ul id="features">
          <li>Create tasks quickly</li>
          <li>Start and stop tracking your time with one click.</li>
          <li>Manually add time and easily edit your logged time.</li>
          <li>Fast and responsive interface, powered by <%= link_to 'Backbone.js', 'http://documentcloud.github.com/backbone/' %>
          <li>It's free (as in beer AND <%= link_to 'speech', 'https://github.com/davertron/simpletask' %>)!
        </ul>
        <div id="call-to-action">
          Ready to give it a shot? <%= link_to 'Register Now', :register, :class => 'btn btn-large btn-success' %>
        </div>
      </div>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29710629-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
