<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" />
    
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="nav">
      <div class="links">
        <%= link_to 'Register', :register %> |
        <%= link_to 'Login', :login %>
      </div>
    </div>
    <div class="landing-container">
      <a href="/" class="brand"><i class="icon-list-alt"></i>SimpleTask</a>
      <div class="main-info">
        <em>Keep track of time spent on tasks, simply.</em>
        <div class="screenshot">
          <%= image_tag "screenshot.png" %>
        </div>
      </div>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29710629-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
